body{
  margin: 0;
  padding: 0;
  background-color: rgba(161,207,100,0.2);
}
.container{
  width: 1100px;
  margin: 0 auto;
}
.main{
  padding-top: 63px;
  padding-bottom: 100px;
}
#menu{
  position: fixed;
  top:63px;
}
.ui.breadcrumb{
  margin: 0;
}