<div class="ui comments" style="display: block;">
  <div class="comment">
    <a class="avatar">
      <img src="/images/demo/avatar.jpg">
    </a>
    <div class="content">
      <a class="author">Dog Doggington</a>
      <div class="metadata">
        <div class="date">2 days ago</div>
        <div class="stars">
          <i class="icon star"></i>
          <i class="icon star"></i>
          <i class="icon star"></i>
          <i class="icon empty star"></i>
          <i class="icon empty star"></i>
        </div>
      </div>
      <div class="text">
        I think this is a great idea and i am voting on it

        I think this is a great idea and i am voting on it

        I think this is a great idea and i am voting on it

        I think this is a great idea and i am voting on it

        I think this is a great idea and i am voting on it
      </div>
    </div>
  </div>
</div>