{{set . "controllerName" .controllerName}}
{{append . "moreStyles" "/css/main.css"}}
{{set . "title" "Home"}}
{{append . "moreScripts" "/js/main.js"}}
{{template "header.html" .}}
<div class="main container">
  <div class="ui animated list">
    {{range .posts}}
      <a class="item" href="/post/index?stamp={{.Stamp}}">
        <i class="right triangle icon"></i>
        {{.Title}}

      </a>
      <!-- <div class="description">{{.Stamp}}</div> -->
    {{end}}
  </div>
</div>

{{template "footer.html" .}}
